@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Mono&display=swap');

body {
    background: #f1f5f8;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

.nav-links {
    text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
