@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Mono&display=swap");

body {
    background: url(./assets/hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto Mono", monospace;
}